.form-field{
    box-shadow: 5px 5px 2px 1px #00b4d8;
    padding:10px;
    margin:10px;
}
button{
    background-color:#00b4d8;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}